* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .elem {
  height: 200px;
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  &:hover {
    img {
      scale: 1;
    }

    h1 {
      background-color: transparent;
      color: #222;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.5;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  }

  h1 {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(216, 138, 21);
    display: flex;
    align-items: center;
    font-family: monument;
    font-weight: 800;
    font-size: 3vw;
    justify-content: center;
    inset: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  }
}

.page2{
  height: 100vh;
  width: 100%;
  background-color: orange;
  position: relative;
}